{% extends 'www/base.html' %}
{% load static %}
{% block title %}O mnie{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'www/css/styles.css' %}">
{% endblock %}

{% block body %}
    <div class="container d-flex align-items-center py-5 shadow-lg">
        <div class="row justify-content-center justify-content-lg-start">
            <div class="col-6 col-md-6">
                <div class="d-flex flex-column align-items-center">
                    <img src="{% static 'www/img/prof.webp' %}" class="img-fluid rounded-50">
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <h1 class="fw-bold display-6 my-2">Dominik Ciupa</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
