{% extends 'www/base.html' %}
{% load static %}

{% block title %} Pobierz CV - Dominik Ciupa {% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'www/css/download-cv.css' %}">
{% endblock %}

{% block body %}
<!--Hero section -->
<div class="container vh-100">
    <div class="row h-100 align-items-center">
        <div class="col-md-6 text-center text-md-start">
            <i id="heart-icon" class="fst-normal display-1 d-inline-flex py-2">❤</i>
            <h1 class="display-4 fw-bold lh-1 mb-3">Dziękuję</h1>
            <p id="description" class="fs-4">za czas poświęcony na analizowanie mojego CV oraz mojego portfolio.</p>
            <a href="{% static 'www/cv/CV-Dominik Ciupa.pdf' %}">
                <button type="button" class="btn btn-primary btn-lg mb-3 mb-md-0">Pobierz</button>
            </a>
        </div>
        <div class="col-md-4 mx-auto">
            <picture>
                    <source srcset="{% static 'www/img/cv.webp' %}" type="image/webp">
                    <img src="{% static 'www/img/cv.jpg' %}" class="img-fluid shadow">
            </picture>
        </div>
    </div>
</div>
{% endblock %}